:root {
    --fg-color-main: rgb(255, 255, 255);
    --bg-color-main: rgb(100, 100, 100);
}

html {
    color: var(--fg-color-main);
    background-color: var(--bg-color-main);
    font-family: sans-serif;
}